$primaryColor: #D53F8C !default;
$secondaryColor: #F8B5C1 !default;
$tertiaryColor: #F8D0D2 !default;
$quaternaryColor: #EFF2F8 !default;
$quinaryColor: #2B92E4 !default;
$senaryColor: #f0723c !default;

$primaryHoverColor: #D53F8C !default;
$grayColor: #646464 !default;
$accentColor: #3e3f8f !default;
$lineColor: #d5d5d5 !default;
$textColor: #303030;
$secondaryTextColor: #969696;
$blueColor: #547ebd;
$lightGreyColor: #e6e6e6;
$orangeBackGround: #fffaf8;
$borderColor: #d9d3d3;
$textWhiteColor: #f6f6f6;
$greenColor: #67c365;
$whiteBackground: #ffffff;
$redColor: #e3253c;
$grayBackgroud: #F9F9F9 !default; //f2f2f2 - f4f4f4
$lighterBlackColor: #5F5F5F;
$black: #000000;

$headlineFont: "MontserratAlternates";
$subheadFont: "MontserratAlternates";
$textFont: "MontserratAlternates Regular";
$titleFont: "MontserratAlternates SemiBold";
$fontBold: "MontserratAlternates Bold";

$primaryFont: "MontserratAlternates Regular" !default;

