spring:
  datasource:
    url: jdbc:mysql://database-1.cxb9ab3tgire.ap-southeast-1.rds.amazonaws.com:3306/hcmute
    username: lumiere
    password: lumiere-123
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maxLifeTime : 600000
  jpa:
    show-sql: true
    defer-datasource-initialization: true
    generate-ddl: true
    properties:
      hibernate.format_sql: true

  properties:
    hibernate:
      legacy_limit_handler:true

  hibernate:
    ddl-auto: update
  sql:
    init:
      mode: always
  mvc:
    throw-exception-if-no-handler-found=true:
  redis:
    host: localhost
    port: 6379
  cache:
    type: redis

server:
  servlet:
    context-path: /v1


aws:
  accessKeyId: AKIAWGH2PX7YJB2ZQG44
  secretAccessKey: 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
  region: ap-southeast-1

backend:
    aws:
      userPoolId: ap-southeast-1_BLEOVSwZc
      region: ap-southeast-1
      S3:
        bucket:
          name: lumiere-s3


