name: Deploy Backend
 
on:
  push:
    branches: 
      - release
      - master
    paths:
      - backend/**
      - .github/**
jobs:
  deploy-be:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: hieudan/hcmute:latest
          context: backend

      - name: ssh key passphrase
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USERNAME }}
          key: ${{ secrets.AWS_KEY }}
          port: ${{ secrets.AWS_PORT }}
          script: |-
            sudo docker pull hieudan/hcmute
            sudo docker stop backend_server
            sudo docker rm backend_server
            sudo docker run --log-driver=loki \
              --log-opt loki-url="https://${{ secrets.LOKI_USER }}:${{ secrets.LOKI_API_KEY }}@logs-prod-011.grafana.net/loki/api/v1/push" \
              --log-opt loki-retries=5 \
              --log-opt loki-batch-size=400 \
              --detach --name backend_server -p 8080:8080 hieudan/hcmute
            sudo docker rmi  $(sudo docker images -aq)
